.resume {
  min-height: 1000px;
  min-width: 800px;
}
.resume-left-col {
  background-color: var(--resume-main-color);
}

.resume-left-col * .section-header {
  background-color: white;
}

.resume-right-col * .section-header {
  background-color: var(--resume-main-color);
}
