.sidebar {
  border: 1px solid var(--main-color);
}

/* .sidebar * .section-header {
  background-color: var(--main-color);
} */

.skill,
.language,
.work,
.educ {
  background: var(--resume-main-color);
}

.skill:hover,
.language:hover,
.work:hover,
.educ:hover {
  background: var(--main-color-hover);
  cursor: pointer;
}

.sidebar-item {
  border: 1px solid var(--main-color);
}
