textarea {
  resize: none;
}

.side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.skill,
.language,
.work,
.educ {
  background: gray;
}

.skill:hover,
.language:hover,
.work:hover,
.educ:hover {
  background: red;
  cursor: pointer;
}

.sidebar-item {
  border: 1px solid red;
}
