.accordion-button:not(.collapsed) {
  color: black !important;
  background: var(--main-color) !important;
}

.accordion-button:focus {
  border-color: none !important;
  box-shadow: none !important;
}
