:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #74f0ed;
  --main-color-hover: rgb(101, 209, 207);
  --resume-main-color: rgb(232, 228, 228);
}

body {
  margin: 0;
  min-height: 100vh;
}

.btn-outline-primary {
  color: black !important;
  border: 1px solid var(--main-color-hover) !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: var(--main-color-hover) !important;
}

header {
  background: var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
